body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

h2 {
  margin: 15px;
  font-family: Nunito, Tahoma, sans-serif;
}

p {
  margin: 15px;
  font-family: Nunito, Tahoma, sans-serif;
}

.top-map {
  display: flex;
  flex-direction: column;
  justify-items: left;
}
#map {
position: absolute;
top: 60px;
bottom: 20px;
width: 100%;
}

.map-overlay {
position: absolute;
left: 0;
padding: 10px;
}

.button {
      
      background-color: #1c87c9;
      background-size: cover;
      border: none;
      color: white;
      padding: 20px 34px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
      z-index: 10 ;
    }
    
    .btn-group button {
      background-color: #0423aa; 
      background-size: cover;
      border: 1px solid #0423aa; 
      color: white; 
      padding: 20px 34px; 
      text-align: center;
      cursor: pointer; 
      float: left; /* Float the buttons side by side */
    }
    
    /* Clear floats  */
    .btn-group:after {
      content: "";
      clear: both;
      display: table;
    }
    
    .btn-group button:not(:last-child) {
      border-right: none; /* Prevent double borders */
    }
    
    /* Add a background color on hover */
    .btn-group button:hover {
      background-color: #49afd1;
      color: black
    }
        
.in-service {
    
    background-color: #f8eed1;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-style: solid;
    border-width: 2px;
    opacity: .65;
    
}
.marker-inbound {
    background-image: url('mapbox-marker-icon-20px-blue.png');
    background-size: cover;
    background-color: transparent;
    width: 20px;
    height: 30px;
    cursor: pointer;
  }

.marker-outbound {
    background-image: url('mapbox-marker-icon-20px-green.png');
    background-size: cover;
    background-color: transparent;
    width: 20px;
    height: 30px;
    cursor: pointer;
  }
